html {
  font-family: arial;
}

ul {
  list-style: none;
}

li {
  display: inline;
}

nav {
  background-color: #FFB4B0;
  padding: 20px;
  max-width: 1000px;
}

fieldset {
  background-color: #4DD7FA;
  max-width: 150px;
}

article {
  background-color: #FEFAC0;
  color: #785616;
  max-width: 400px;
  padding: 20px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}
